* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'DM Sans', sans-serif;
  background: var(--cr);
  color: var(--dk);
  overflow-x: hidden;
}

.page {
  display: none;
}

.page.active {
  display: block;
}
